*.class
.gradle
build
/bin/
*/out
/.settings/
/.idea/
*.iml
.project
.classpath
target
*~

# Package Files
*.jar
*.war
*.ear

# Don't ignore gradle-wrapper distributed in project
!/gradle/wrapper/gradle-wrapper.jar

# Serverless directories
.serverless
